.wumbo {
	background-color: red;
	text-align: center;
	height: 50px;
	color: white;
	font-weight: italic;
}

h1 {
	color: orange;
	height: 100px;
	background-color: black;
	text-align: center;

}

h2 {
	color:blue;
	font-weight: italic;
	font-family: monospace;
}

.shame {
	color: blue;
	border-style: solid;
	border-color: red;
	background-color: black;
	height: 50px;
	text-align: center;
	border-radius: 20px;
}

.dog {
	border-radius: 50px;
	border-color: orange;
	border-style: solid;

}

.case {
	text-shadow: 2px 2px 5px blue;
	color: white;
	border-style: solid;
	

}


